* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body, h1, h2, p, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #DAEDFB;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

.logo-text {
  font-family: 'Cinzel', serif;
}

img {
  display: block;
  max-width: 100%;
}